<app-header></app-header>
<div class="container-fluid cheeka-container">
    <section class="cheeka-carousel">
        <ul class="carousel-container">
            <li>
                <img class="carousel-image" src="../../../assets/images/1.jpg" alt="">
                <!-- <img *ngIf="image" class="carousel-image" [src]="api['BASE_URL'] + '/' + image" /> -->
            </li>
        </ul>
    </section>
    <hr class="section-separator" />
    <section class="cheeka-gallery">
        <h1>Gallery</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="gallery-card">
                    <div class="gallery-card-content">
                        <img src="../../../assets/images/2.jpg">
                    </div>
                    <div class="gallery-card-footer">
                        Portfolio
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="gallery-card">
                    <div class="gallery-card-content">
                        <img src="../../../assets/images/3.jpg">
                    </div>
                    <div class="gallery-card-footer">
                        Gallery
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" [routerLink]="['../about']">
                <div class="gallery-card">
                    <div class="gallery-card-content">
                        <img src="../../../assets/images/4.jpg">
                    </div>
                    <div class="gallery-card-footer">
                        Sreekanth
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="cheeka-services cheeka-section">
        <h1 class="cheeka-service-header">Services</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h4>
                            Weddings
                        </h4>
                    </div>
                    <div class="content">
                        <p>
                            A Canon Photography Mentor, A Profoto Mentor and a member of the International Association
                            of
                            Newborn Photographers, Amrita is one of the most recognised and renowned Maternity and
                            Child
                            photographers from India.
                        </p>
                        <p>
                            She started her business 'Mommy Shots by Amrita' in 2013 with set ups in Chennai, Bangalore
                            and
                            Singapore, specialising in newborn and Baby portraiture. Bringing babies and photography
                            together was only a natural move, given the love for the two.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h4>
                            Couple Shoots
                        </h4>
                    </div>
                    <div class="content">
                        <p>
                            A Canon Photography Mentor, A Profoto Mentor and a member of the International Association
                            of
                            Newborn Photographers, Amrita is one of the most recognised and renowned Maternity and
                            Child
                            photographers from India.
                        </p>
                        <p>
                            She started her business 'Mommy Shots by Amrita' in 2013 with set ups in Chennai, Bangalore
                            and
                            Singapore, specialising in newborn and Baby portraiture. Bringing babies and photography
                            together was only a natural move, given the love for the two.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h4>
                            Family
                        </h4>
                    </div>
                    <div class="content">
                        <p>
                            A Canon Photography Mentor, A Profoto Mentor and a member of the International Association
                            of
                            Newborn Photographers, Amrita is one of the most recognised and renowned Maternity and
                            Child
                            photographers from India.
                        </p>
                        <p>
                            She started her business 'Mommy Shots by Amrita' in 2013 with set ups in Chennai, Bangalore
                            and
                            Singapore, specialising in newborn and Baby portraiture. Bringing babies and photography
                            together was only a natural move, given the love for the two.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="section-separator" />
    <section class="cheeka-testimonials cheeka-section">
        <div class="row">
            <h1>What our clients say</h1>
            <p>about our work</p>
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="testimonial">
                    <hr>
                    <div class="content">
                        <p>
                            "A Canon Photography Mentor, A Profoto Mentor and a member of the International Association
                            of
                            Newborn Photographers, Amrita is one of the most recognised and renowned Maternity and
                            Child
                            photographers from India."
                        </p>
                    </div>
                    <div class="footer">
                        <strong>- Aravind</strong>
                    </div>
                    <hr>
                    <div class="navigation">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>