<nav class="navbar header header-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button id="collapse-button" type="button" class="navbar-toggle collapse-button" data-toggle="collapse"
        data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand-image image-sm" routerLink="/">
        <img src="assets/images/cheeka-logo.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right custom-nav">
        <li routerLink="/"><a>Home</a></li>
        <li routerLink="/user/gallery"><a>Gallery</a></li>
        <li class="center-image" routerLink="/">
          <a class="brand-image">
            <img src="assets/images/cheeka-logo.png" />
          </a>
        </li>
        <li routerLink="/user/contact-us"><a>Contact Us</a></li>
        <li routerLink="/user/about"><a>About Us</a></li>
      </ul>
    </div>
  </div>
</nav>