<footer class="cheeka-footer">
  <div class="bg">
      <div class="social-links">
          <a href="https://www.facebook.com/cheekaphotography/" target="_blank">
            <img class="social-image" src="./../../../assets/images/facebook.png" />
          </a>
          <a href="#" target="_blank">
            <img class="social-image" src="./../../../assets/images/twitter.svg" />
          </a>
        </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="cheeka-locations">
          <div class="cheeka-locations-header">
            <h3 class="cheeka-locations-header-title">Location</h3>
            <hr>
          </div>
          <div class="cheeka-locations-content">
            <p>
              <strong>
                <em>Cheeka Photography</em>
              </strong>
            </p>
            <p>
              G - 2, D 146, RK's Sakthi Flats,
            </p>
            <p>
              23rd Cross Street, Hindu Colony,
            </p>
            <p>
              Nanganallur, Chennai, Tamil Nadu 600061
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="cheeka-locations-header">
          <h3 class="cheeka-locations-header-title">Facebook Page</h3>
          <hr>
        </div>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcheekaphotography%2F&tabs&width=340&height=270&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2255303421463799"
          width="340" height="270" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
          allow="encrypted-media"></iframe>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="cheeka-locations-header">
          <h3 class="cheeka-locations-header-title">About</h3>
          <hr>
        </div>
        <p>
          A Canon Photography Mentor, A Profoto Mentor and a member of the International Association of Newborn
          Photographers, Amrita is one of the most recognised and renowned Maternity and Child photographers from
          India.
        </p>
      </div>
    </div>
    
  </div>
</footer>
