<app-header></app-header>
<div class="container bg">
  <section class="cheeka-photographers">
    <h1>Our Photographers</h1>
    <div class="cardContainer">
      <div class="card">
        <div class="imgbox">
          <img src="../../../assets/images/bc72c31d58ed31d0dd0b76f455c50299--summer-haircuts-boy-hairstyles.jpg" alt="">
        </div>
        <div class="content">
          <h2>Aravind<br><span>Lead Photographer</span></h2>
          <!-- <p>Lorem ipsum dolor sit amet cons omnis?</p> -->
        </div>
      </div>
      <div class="card">
        <div class="imgbox">
          <img src="../../../assets/images/3289_2471GYGY.jpg" alt="">
        </div>
        <div class="content">
          <h2>Aravind<br><span>Lead Photographer</span></h2>
          <!-- <p>Lorem ipsum dolor sit amet cons omnis?</p> -->
        </div>
      </div>
      <div class="card">
        <div class="imgbox">
          <img src="../../../assets/images/smile-1726471_960_720.jpg" alt="">
        </div>
        <div class="content">
          <h2>Aravind<br><span>Lead Photographer</span></h2>
          <!-- <p>Lorem ipsum dolor sit amet cil, omnis?</p> -->
        </div>
      </div>
    </div>
  </section>
  <section class="cheeka-about">
    <h2>About Us</h2>
    <p>
      A Canon Photography Mentor, A Profoto Mentor and a member of the International Association of Newborn
      Photographers, Amrita is one of the most recognised and renowned Maternity and Child photographers from India.
    </p>
    <p>
      She started her business 'Mommy Shots by Amrita' in 2013 with set ups in Chennai, Bangalore and Singapore,
      specialising in newborn and Baby portraiture. Bringing babies and photography together was only a natural move,
      given the love for the two.
    </p>
    <p>
      Growing from a Portrait photographer to a documentary photographer, trying to capture the reality of life and
      helping Children in any way possible, her love for kids is real and she is an absolute natural when it comes to
      portraying children in their element.
    </p>
    <p>
      Also, an educator, she conducts her workshops across the country and also personally mentors aspiring
      photographers.
      She has worked with several celebrities such as Cricketer Ravichandran Ashwin, Robin Uthappa, Murali Vijay,
      Lakshmipathy Balaji, Actor Arun Vijay, Director Hari, Actor Reshmi Menon and Bobby Simha and many others.
    </p>
    <p>
      So if you want to tell your child’s story, one unforgettable photograph at a time, you’re at the right place.
      Here’s to happy beginnings, and welcome to Mommy Shots!
      You can reach Amrita on +91 9972609349 or use our Contact form to make a booking.
    </p>
    <div class="cheeka-photo-container">
      <img src="./../../../assets/images/cheeka-logo.png" />
    </div>
  </section>
</div>
<app-footer></app-footer>